In [1]:
import pandas as pd
import numpy as np

import scipy.stats as sts
from random import shuffle

In [15]:
with open("checkins.dat", "r") as ftr:
    newlines=[]
    for line in ftr:
        newline=[x.strip() for x in line.split("|")]
        if len(newline)==6 and newline[3] and newline[4]:
            newlines.append(newline)

In [16]:
data=pd.DataFrame(newlines)
heading=newlines[0]
print(heading)

['id', 'user_id', 'venue_id', 'latitude', 'longitude', 'created_at']

In [17]:
data.columns=heading
data.describe()

            id  user_id venue_id    latitude    longitude           created_at
count   396635   396635   396635      396635       396635               396635
unique  396635   167710    47322       11786        11732               356105
top     165365  1326476     5222  41.8781136  -87.6297982  2011-12-26 18:16:53
freq         1       48    12739       15254        15254                    6

In [18]:
data.drop(0, inplace=True)

In [19]:
data.head()

       id  user_id venue_id    latitude     longitude           created_at
1  984222    15824     5222  38.8951118   -77.0363658  2012-04-21 17:43:47
2  984234    44652     5222   33.800745     -84.41052  2012-04-21 17:43:43
3  984291   105054     5222  45.5234515  -122.6762071  2012-04-21 17:39:22
4  984318  2146539     5222   40.764462   -111.904565  2012-04-21 17:35:46
5  984232    93870   380645  33.4483771  -112.0740373  2012-04-21 17:38:18

In [20]:
dropcols=[ "id", "user_id", "venue_id", "created_at"]
data=data.drop(dropcols, axis=1)
data.head()

     latitude     longitude
1  38.8951118   -77.0363658
2   33.800745     -84.41052
3  45.5234515  -122.6762071
4   40.764462   -111.904565
5  33.4483771  -112.0740373

In [21]:
from sklearn.cluster import MeanShift
from sklearn import model_selection

In [22]:
ms=MeanShift(bandwidth=0.1)
subset=data.iloc[:100000]

In [23]:
res=ms.fit(subset)

In [25]:
labels=res.labels_

In [26]:
cluster_centers=res.cluster_centers_

In [27]:
un, count=np.unique(labels, return_counts=True)
s=zip(un, count)
result_labels=[i for i,j in s if j<=15 ]
mask1=np.ones(len(cluster_centers), dtype=bool)

mask1[result_labels]=False
result1=cluster_centers[mask1,...]
result1.shape

(592, 2)

In [28]:
offices=np.array([ [33.751277,-118.188740], [25.867736, -80.324116], [51.503016, -0.075479], [52.378894, 4.885084],
                 [39.366487, 117.036146], [-33.868457, 151.205134]])

In [33]:
min_dist=100
place=()

In [38]:
from scipy.spatial.distance import cdist
from scipy.spatial.distance import euclidean

In [36]:
offices.shape

(6, 2)

In [39]:

for office in offices:
   
    for point in result1:
        dist=euclidean(office, point)
        if dist<min_dist:
            min_dist=dist
            place=point

In [40]:
min_dist

0.007834758163107856